/* uso de variables para todo el documento */
/*estilo de letra para el encabezado y pie de pagina*/
@font-face {
    font-family: 'textvideo';
    src: url("../assets/fonts/Raleway-VariableFont_wght.ttf");
}

:root {
    /*Paleta de colores*/
    --azules-1: #2C63A4;
    --azules-2: #6B798A;
    --azules-3: #517396;
    --azules-4: #0A5DC1;
    --azules-5: #024FAC;
    --amaril-1: #FBD933;
    --amaril-2: #D2CA9F;
    --amaril-3: #EFD971;
    --amaril-4: #FFD300;
    --rojos-1: #FB6333;
    --rojos-2: #FF3D00;
    --negro-1: #333;
    --background-color: #f4f4f4;
    --font-s: 12px;
    --font-m: 14.5px;
    --font-l: 20px;
    --bs-body-font-family: textvideo, Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--bs-body-font-family);
    background: var(--amaril-2);
    overflow-x: hidden;
}
/*------------------- Estilos -----------------------*/
.seccion-principal {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.mb-100 {
    margin-bottom: 100px;
}
/*++++++++++++++++++++ Header ++++++++++++++++++++++++*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    background: var(--azules-5);
}

.titulo-pagina {
    word-spacing: 1px;
    color: var(--rojos-1)
}
.mi-menu {
    display: flex;
    gap: .5rem;
}
.mi-menu a {
    color: var(--rojos-1);
    text-decoration: none;
    font-size: var(--font-m);
    font-weight:bold;
}
.mi-menu a:hover {
    color: var(--amaril-2);
}

/*+++++++++++++++++++++++ Main +++++++++++++++++++++++++++++++*/
main {
    flex: 1
}
.seccion-menu {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 99999;
    background: var(--azules-5);
}
.navegador-secundario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 1rem;
    border-radius: 20px;
    width: 96%
}
.navegador-secundario a {
    color: var(--rojos-1);
    text-decoration: var(--rojos-1);
}
.navegador-secundario a:hover {
    color: var(--amaril-2);
    font-weight: bold;
}
.seccion-eslogan {
    background: url(../assets/images/hoating-vertical.jpg) no-repeat center center / cover;
}
.seccion-eslogan h2 {
    text-align: center;
    padding: 0 5%;
    font-size: 50px;
    width: 900px;
}
.seccion-mision-vision {
    flex-direction: column;
    margin: 0 5%;
}
.seccion-mision {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 100px;
}
.seccion-mision img {
    flex: 2;
    object-fit: cover;
    width: 300px;
    height: 300px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    transform: translateX(-800px);
    opacity: 0;
}
.textoM {
    flex: 1;
    text-align: justify;
}
.seccion-mision p span {
    color: var(--rojos-1);
    font-weight: bold;
    
}
.seccion-vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 100px;
}
.seccion-vision img {
    flex: 1;
    object-fit: cover;
    height: 300px;
    width: 300px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    transform: translateX(800px);
    opacity: 0;
}
.textoV{
    flex: 1;
    text-align: justify;
}
.seccion-vision p span {
    color: var(--rojos-1);
    font-weight: bold;
}
/*+++++++++++++++++++++++ Contenedor Horizontal +++++++++++++++
                          NOTICIAS
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.noticias {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.contenedor-noticias {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noticias-contenido {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 75vh;
    gap: 20px;
}
.noticia-titulo {
    display: none;
}
.noticia-contenido-img {
    border: 3px solid var(--rojos-1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    /*aspect-ratio: 16 / 9;*/
}
.noticia-contenido-descripcion {
    color: var(--rojos-1);
    font-size: var(--font-m);
    text-align: justify;
}
.noticia-link {
    text-decoration: none;
    color: var(--azules-1);
    font-weight: bold;
}
.noticia-link:hover {
    transform: translateY(-5px);
    color: var(--rojos-1);
}

/*
 -------> Galeria Main <-----------------------------------------
*/

.seccion-uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 2rem;
}
.galeria-portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    gap: 1rem;
}
.galeria-portada img {
    border-radius: 10px;
    width: 65%;
    height: 52.5%;
}

.galeria-portada .galeria-subtitulo {
    color: var(--rojos-1);
    font-weight: bold;
}
.galeria-portada .galeria-flecha {
    width: 50px;
    height: 50px;
}

/*
      GALERIA
*/

.seccion-galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

.titulo-galeria {
    color: var(--rojos-1);
    font-weight: bold;
    margin-bottom: 50px;
}

.img-servicio {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.galeria {
    display: grid;
    gap: 1rem;
    padding: 10px;
    width: 70vw;
    height: 80%;
}

.item {
    cursor: pointer;
    font-size: 0;
}

.detail {
  position: fixed;
  top: 20px;
  left: 50%;
  width: 90.1vmin;
  cursor: pointer;
  font-size: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  max-height: 100%;
  overflow: auto;
}

.detail > img {
  position: relative;
  z-index: 1;
}

.detail .content {
  background: var(--azules-2);
  padding: 2rem 1.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  flex-grow: 1;
}

.detail .content > * {
  margin-bottom: 1rem;
}

.detail .title {
  font-size: 2rem;
  text-transform: uppercase;
}

.detail .secondary {
  color: var(--rojos-1);
  font-weight: bold;
}

.detail .description {
  line-height: 1.5;
}

/*+++++++++++++++++++++++ PRESUPUESTO +++++++++++++++++++++++++*/
.presupuesto-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presupuesto-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    min-height: 100%;
}
.presupuesto-formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: .5rem;
}
.presupuesto-formulario .frm-datos, 
.presupuesto-formulario .frm-presupuesto,
.presupuesto-formulario .frm-envio {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 90%;
    padding: 5px 5px;
    gap: 1rem;
    border: 3px double var(--rojos-1)
}
.presupuesto-contenedor-campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
    padding-bottom: 5px;
}
.presupuesto-etiqueta-campo {
    font-size: var(--font-m);
    font-weight: bold;
}
.presupuesto-contenedor-campos input {
    width: 300px;
    border-radius: 5px;
    border: none;
    height: 20px;
    padding-left: 5px;
}
.presupuesto-contenedor-campos input:focus {
    border: 2px solid var(--rojos-1);
    outline: none;
}

.presupuesto-formulario legend {
    color: var(--rojos-1);
    font-weight: bold;
}
/*----Manejador de validaciones CSS*/
.presupuesto-dp-error {
    font-size: var(--font-s);
    font-weight: bold;
    color: red;
}

.presupuesto-dp-error-ocultar,
.presupuesto-DE-error-ocultar {
    display: none;
}
.presupuesto-contenedor-Servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    gap: .3rem;
    border: 2px solid transparent;
    transition: border 0.2s ease;
    padding: 3px;
}
.presupuesto-contenedor-Servicios.error {
    border: 2px solid red;
}

.presupuesto-contenedor-Servicios label {
    width: 305px;
    font-size: var(--font-m);
}
.presupuesto-cont-plazos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    gap: .3rem;
    border: 2px solid transparent;
    transition: border .5s ease;
    padding-left: 5px;
    padding-right: 5px;
}

.presupuesto-cont-plazos.error {
    border: 2px solid red;
}
.presupuesto-cont-plazos label {
    width: 305px;
    font-size: var(--font-m);
}


.presupuesto-contenedor-subserv {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 80%;
    min-height: 120px;
    gap: .3rem;
    border: 2px solid transparent;
    transition: border .5s ease;
    padding-left: 5px;
}

.presupuesto-contenedor-subserv.error {
    border: 2px solid red
}

.presupuesto-titulo-susbservicios,
.presupuesto-servicio-label,
.presupuesto-plazos-label {
    font-size: var(--font-m);
    font-weight: bold;
    padding-bottom: 5px;
}

.presupuesto-cont-costos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5px;

}
.presupeuestos-lbl {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-m);
    font-weight: bold;
    width: 250px;
}

.presupeuestos-lbl-chkenvio {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-m);
    font-weight: bold;
    width: 250px;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    padding: 3px;
}

.presupeuestos-lbl-chkenvio.error {
    border: 2px solid red
}

.presupuesto-txt {
    border: none;
    background: none;
    color: var(--rojos-1);
    font-weight: bold;
    font-size: var(--font-m);
    width: 70px;
    padding-left: 5px;
}

.presupuesto-contenedor-opcioneSS {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}
.presupuesto-label-subSer {
    width: 222px;
    font-size: var(--font-m);
}
.presupuesto-cont-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 5px;
}

.presupuesto-btn {
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: var(--azules-4);
    color: var(--background-color);
}
.presupuesto-btn:hover {
    background: var(--background-color);
    color: var(--azules-4);
    cursor: pointer;
}
/*---------------------MODAL para ver resultados del envio------------------------*/
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.ocultar {
    display: none;
}
.modal-content {
    display: flex;
    flex-direction: column;
    background: var(--amaril-2);
    margin: 15% auto;
    width: 500px;
    border-radius: 8px;
    text-align: justify;
    color: var(--azules-2);
    font-size: var(--font-m);
    font-weight: bold;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: var(--azules-5);
    padding-left: 10px;
    padding-right: 10px;
}

.Titulo-Modal {
    color: var(--amaril-3);
}

.modal-body {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.modal-lista {
    list-style-position: inside;
}

.close {
    /*float: right;*/
    cursor: pointer;
    font-size: 35px;
    color: var(--rojos-2);
}

/*----------------------- Contacto ----------------------------*/
.contacto-main {
    background: url(../assets/images/contacto-vertical.jpg) no-repeat center center / cover;
}
.section-contacto-datos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.section-contacto-mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.contacto-datos-card,
.contacto-mapa-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(210, 202, 159, 0.5);
    width: 85%;
    height: 85%;
    border-radius: 8px;
}

.contacto-contenedor-datos-subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-top: 50px;
}
.contacto-datos-subtitulo {
    color: var(--azules-5);
    font-size: 50px;
}

.contacto-contenedor-datos-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: .5rem;
}

.contacto-datos-etiqueta-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: var(--azules-4);
    font-size: var(--font-m);
    font-weight: bold;
}

.contacto-datos-info {
    width: 150px;
    color: var(--rojos-2);
    font-size: var(--font-m);
    font-weight: bold;
}

/*+++++++++++++++++++++++ Footer ++++++++++++++++++++++++++++++*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 150px;
    background: var(--azules-4);
    color: var(--rojos-1);
}
.pie-iconos {
    display: flex;
    gap: 1rem;
}
.pie-iconos a {
    text-decoration: none;
    color: var(--rojos-1);
    font-size: var(--font-l);
}
.pie-iconos a:hover {
    color: var(--amaril-2);
}

/*++++++++++++++++++++++++++++++++++++++++++
  +                                        +
  +                  Media Queries         +
  +                                        +
  ++++++++++++++++++++++++++++++++++++++++++*/
  @media (min-width: 780px) {
    /*++++++++++++++++ Main +++++++++++++++++*/
    .navegador-secundario {
        justify-content: flex-start;
    }
    .seccion-mision {
        flex-direction: row;
    }
    .seccion-mision img {
        flex: 2;
    }
    .seccion-vision {
        flex-direction: row;
    }
    .seccion-vision img {
        flex: 2;
    }
    .seccion-vision-reverse {
        flex-direction: row-reverse;
    }
    /*Galeria*/
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1024px) {
    /*++++++ Header ++++++++++*/
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }
    .titulo-pagina {
        word-spacing: 2px;
    }
    .mi-menu {
        gap: 1rem
    }
    .navegador-secundario {
        justify-content: flex-start;
    }
    /*+++++++++++++++ Main +++++++++++++++*/
    .seccion-eslogan {
        background: url(../assets/images/hosting-horizontal.jpg) no-repeat center center / cover;
    }
    .seccion-mision {
        flex-direction: row;
    }
    .seccion-mision img {
        flex: 1;
        height: 400px;
        width: 500px;
        
    }
    .seccion-mision p {
        flex: 1;
        width: 600px;
    }
    .seccion-vision img {
        flex: 1;
        height: 400px;
        width: 600px;
    }

    .seccion-vision p {
        flex: 1;
        width: 600px;
    }

    .seccion-vision-reverse {
        flex-direction: row-reverse;
    }
    /*--------------- Main Contacto ---------------------*/
    .contacto-main {
        background: var(--amaril-2)

    }

    .contacto-datos-card {
        background: url(../assets/images/contacto-horizontal.jpg) no-repeat center center / cover;;
    }


    .contacto-datos-etiqueta-info {
        justify-content: space-between;
        width: 500px;
        color: var(--amaril-4);
    }

    .contacto-datos-info {
        display: flex;
        width: 400px;
        justify-content: flex-end;
    }
    
    /*------------- Noticias ------------------------*/
    .noticias-contenido {
        width: 70vw;
        height: 85vh;
    }
    .noticia-titulo {
        width: 500px;
        text-align: center;
        display: block;
        color: var(--background-color);
        /*writing-mode: sideways-lr;*/
        position: absolute;
        left: 30%;
        top: 50%;
        font-size: clamp(1rem, 2vw, 1rem);
    }
    /* Galeria */
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
    /* Presupuesto*/
    .presupuesto-contenedor-subserv {
        width: 300px;
        min-height: 150px;
        justify-content: center;
    }
    .frm-presupuesto {
        min-height: 300px;
    }
    .presupuesto-contenedor-campos {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .presupuesto-etiqueta-campo {
        width: 110px;
    }
    
    .presupuesto-contenedor-Servicios {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 540px;
        gap: 1rem;
        border: 2px solid transparent;
        transition: border 0.2s ease;
        padding: 3px;
    }

    .presupuesto-contenedor-Servicios label {
        width: 350px;
        font-size: var(--font-m);
    }
    .presupuesto-cont-plazos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 540px;
        gap: 1rem;
    }
    .presupuesto-cont-plazos label {
        width: 350px;
        font-size: var(--font-m);
    }
    
    .presupuesto-label-subSer .presupuesto-nom-subservicio {
        font-size: var(--font-m);
    }

    .presupuesto-cont-costos {
        flex-direction: row;
    }

    .presupeuestos-lbl {
        justify-content: left;
    }
  }