<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/icon/ico-principal.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Galeria</title>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.2/dist/gsap.min.js" defer></script>
    <script src="../js/comunes/header.js" defer></script>
    <script src="../js/comunes/footer.js" defer></script>
    <script src="../js/galeria.js" defer></script>
</head>
<body>
    <header>
        <h1 id="titulo" class="titulo-pagina"></h1>
        <nav id="menu" class="mi-menu"></nav>
    </header>
    <main>
        <section id="menumov" class="seccion-menu">
            <nav id="navsecundario" class="navegador-secundario"></nav>
        </section>
        <section id="seccionuno" class="seccion-uno">
            <p>Imagen</p>
        </section>
        <section id="secciondos" class="seccion-dos">
            <p>galeria</p>
        </section>
    </main>
    <footer>
        <h2 id="pie" class="pie-titulo"></h2>
        <p id="direccion" class="pie-diraccion"></p>
        <div id="iconos" class="pie-iconos"></div>
        <p id="derechos" class="pie-derechos"></p>
    </footer>
</body>
</html>