<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/icon/ico-principal.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Presupuesto</title>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.2/dist/gsap.min.js" defer></script>
    <script src="../js/comunes/header.js" defer></script>
    <script src="../js/comunes/footer.js" defer></script>
    <script type="module" src="../js/presupuesto.js"></script>
</head>
<body>
    <header class="mb-100">
        <h1 id="titulo" class="titulo-pagina">eHostingCO</h1>
        <nav id="menu" class="mi-menu"></nav>
    </header>
    <main class="presupuesto-main">
        <section id="presupuesto" class="presupuesto-formulario mb-100">
            <h2 class="visual-oculto">Formulario de Presupuesto</h2>
            <form name="frmpresupuesto" action="./galeria.html" class="frm-contacto" novalidate>
                <fieldset class="frm-datos">
                    <legend>Datos Personales</legend>
                </fieldset>
                <fieldset class="frm-presupuesto">
                    <legend>Presupuesto</legend>
                </fieldset>
                <fieldset class="frm-envio">
                    <legend>Enviar Formulario</legend>
                </fieldset>
            </form>
        </section>
        <div id="modal" class="ocultar"></div>
    </main>
    <footer>
        <h2 id="pie" class="pie-titulo">eHostingCO</h2>
        <p id="direccion" class="pie-diraccion"></p>
        <div id="iconos" class="pie-iconos"></div>
        <p id="derechos" class="pie-derechos"></p>
    </footer>
</body>
</html>