<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/icon/ico-principal.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Presupuesto</title>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.2/dist/gsap.min.js" defer></script>
    <script src="../js/comunes/header.js" defer></script>
    <script src="../js/comunes/footer.js" defer></script>
</head>
<body>
    <header class="mb-100">
        <h1 id="titulo" class="titulo-pagina"></h1>
        <nav id="menu" class="mi-menu"></nav>
    </header>
    <main class="mb-100">
        <section id="presupuesto" class="presupuesto-formulario mb-100">
            <h2 class="presupuesto-titulo"></h2>
            <form name="frmpresupuesto" action="./galeria.html" class="frm-contacto">
                <fieldset class="frm-datos">
                    <legend>Datos Personales</legend>
                    <input type="text" name="nombre" placeholder="Indique su Nombre" title="Formato de nombre incorrecto" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$" maxlength="15" required>
                    <input type="text" name="apellido" placeholder="Indique su Apellido" title="Formato de Apellido Incorrecto" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" maxlength="40" required>
                    <input type="text" name="tel" placeholder="Numero de telefono" title="Formato de Telefono incorrecto" maxlength="9" pattern="^[6789]\d{8}$" required>
                    <input type="email" name="email" placeholder="Indique su Email" title="Formato de email incorrecto" required>
                </fieldset>
                <fieldset class="frm-presupuesto">
                    <legend>Presupuesto</legend>
                    <input type="text" name="nombre" placeholder="Indique su Nombre" title="Formato de nombre incorrecto" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$" maxlength="15" required>
                    <input type="text" name="apellido" placeholder="Indique su Apellido" title="Formato de Apellido Incorrecto" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" maxlength="40" required>
                </fieldset>
                <fieldset class="frm-envio">
                    <legend>Enviar Formulario</legend>
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Borrar">
                </fieldset>
            </form>
        </section>
    </main>
    <footer>
        <h2 id="pie" class="pie-titulo"></h2>
        <p id="direccion" class="pie-diraccion"></p>
        <div id="iconos" class="pie-iconos"></div>
        <p id="derechos" class="pie-derechos"></p>
    </footer>
</body>
</html>